<!DOCTYPE html>
<html>
  <head>
    <title>JavasourceCoffee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid banner-container">
    </div>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">JavaSource</a>
      </div>
      <ul class="nav navbar-nav navbar-right nav-list">
        <li><%= link_to "Products", products_path %></li>
        <li><a href="#">Sources</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    <div class="container main-cont">
      <%= yield %>
    </div>
  </body>
</html>
